# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: QuantumGroup@UGent
email: your-email@domain.com
description: > # this means to ignore newlines until "baseurl:"
  Website for the UGent Quantum Group of Jutho Haegeman and Frank Verstraete
baseurl: ''
url: ''

include:
  - .htaccess
  - _pages

collections:
  thesistopics:
    output: true

defaults:
  -
    scope:
      path: ""
      type: "thesistopics" # a collection in your site, in plural form
    values:
      layout: "thesistopic"

sass:
  sass_dir: _sass

# Conversion
markdown: kramdown
highlighter: rouge
lsi: false
excerpt_separator: "\n\n"
incremental: false

# Markdown Processing
kramdown:
  input: GFM
  math_engine: mathjax
  hard_wrap: false
  auto_ids: true
  footnote_nr: 1
  entity_output: as_char
  toc_levels: 1..6
  smart_quotes: lsquo,rsquo,ldquo,rdquo
  enable_coderay: false
  parse_block_html: true # default for kramdown is false. This will enable using Markdown links
