<head>
    <script>
        var months = ["January", "February", "March", "April", "May", "June", "July",
            "August", "September", "October", "November", "December"];
    </script>
      <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
      <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

</head>

<body>
    <div class="well">
        <div class="panel-heading">
            <h4 class="panel-title">
                <span class="glyphicon glyphicon-calendar"></span>
                <a href="{{ site.url }}{{ site.baseurl }}/allseminars">Seminars</a>
            </h4>
        </div>

        {% assign sorted_seminars = site.seminars | sort: 'talk_date' | reverse %}
        {% for seminar in sorted_seminars limit:9 %}
        <p>
            {%- capture title -%}
                <b style="color: #5f6568;">
                    {% if seminar.abstract %}
                        <a href="{{seminar.url}}" style="color: #5f6568;">{{ seminar.title }}</a>
                    {% else %}
                        {{ seminar.title }}
                    {% endif %}
                </b>
            {% endcapture %}
            {{ seminar.date | date: '%B %e, %Y, %l:%M %p (%Z)'}}
           <br>
            {{ title }}
            <br>{{ seminar.speaker }}{% if seminar.affiliation %}, <em>{{ seminar.affiliation }}</em>{% endif %}</p>
        {% endfor %}

        <h4><a href="{{ site.url }}{{ site.baseurl }}/seminars">... see all seminars</a></h4>
        

    </div>
</body>
