
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<!------ Include the above in your HEAD tag ---------->

<!-- Container, Row, and Column used for illustration purposes -->

	<div class="well">
            <!-- Fluid width widget -->        
    	    
        <div class="panel-heading">
            <h4 class="panel-title">
            <span class="glyphicon glyphicon-calendar"></span> 
            Seminars
            </h4>
		</div>
		{% for seminar in site.data.seminars limit:9 %}
        <div class="panel-body"; style="padding:1px" >
        	<ul class="media-list">
            <li class="media">
            <div class="media-left">
            	<div class="panel panel-primary text-center date">
            		<div class="panel-heading month">
							<p id="datesplit"></p>
							<script>var str = '{{seminar.date}}'
									var array = str.split(" ");	
							</script>
            			<span class="panel-title strong">
            			<script> document.write(array[1].slice(0,3))</script>
                        </span>
                </div>
                <div class="panel-body day text-default">
						<font size="+1"> <script> document.write(array[0])</script> </font>
				</div>
				<div class="panel-footer day text-default"; background-color:black;>
				<b><script> document.write(array[3])</script></b>
				</div>
            </div>
         </div>
        <div class="media-body">
            <h4 class="media-heading">
			{{ seminar.title }}
            </h4>
            <p>
			{{ seminar.speaker }}
        	</p>
			<i>
			{{ seminar.affiliation }}
        	</i>
        </div>
            </li>
                    </ul>
                    
				</div>
		{% endfor %}  
				<h4><a href="{{ site.url }}{{ site.baseurl }}/seminars.html">... see all seminars</a></h4>
            </div>
            <!-- End fluid width widget --> 
			
		</div>
		
	</div>

	
<!--
<div class="well">
    <h4>Seminars</h4>

    {% for seminar in site.data.seminars limit:9 %}
    <p>{{ seminar.date }}
    <br><b>{{ seminar.speaker }}</b>, {{ seminar.affiliation }}
    <br><em>{{ seminar.title }}</em></p>
    {% endfor %}

    <h4><a href="{{ site.url }}{{ site.baseurl }}/seminars.html">... see all seminars</a></h4>

</div>
-->