---
layout: default
---
<html>

<head>
  <script src="https://requirejs.org/docs/release/2.3.6/minified/require.js%22%3E"></script>
  <script src="{{ site.url }}{{ site.baseurl }}/js/calendar.js"></script>
  <!--<script src="{{ site.url }}{{ site.baseurl }}/js/loadSeminars.js"></script>-->
  <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>

  <script>

    var eventsArray = [];
    var files = {{ site.data.seminars | jsonify }};
    for(var i = 0, len = files.length; i < len; i++){
      var titleArray =  files[i].title + ' (' + files[i].speaker + ')';
      var startDay = new Date(Date.parse(files[i].date));
      var endDay = new Date(Date.parse(files[i].end));

      // some hackings to achieve 1 -> "01" etc (always 2character strings)
      var pad = "00"
      var Monthstring = (startDay.getMonth()+1).toString()
      var Monthstring = pad.substring(0, pad.length - Monthstring.length) + Monthstring
      var Daystring = startDay.getDate().toString()
      var Daystring = pad.substring(0, pad.length - Daystring.length) + Daystring
      var url = "{{ site.url }}{{ site.baseurl }}/seminars/" + files[i].type + "_" 
      + startDay.getFullYear() + "-" + Monthstring + "-" + Daystring + "/";
      eventsArray.push({title: titleArray, start: startDay, url: url, end: endDay});
    }

    document.addEventListener('DOMContentLoaded', function () {
      var calendarEl = document.getElementById('calendar');

      var calendar = new FullCalendar.Calendar(calendarEl, {
        headerToolbar: {
          left: 'prev,next',
          center: 'title',
          right: 'dayGridMonth,timeGridWeek,timeGridDay,listMonth'
        },
        initialView: 'listMonth',
        navLinks: true, // can click day/week names to navigate views
        businessHours: true, // display business hours
        editable: true,
        selectable: true,
        dayMaxEvents: true,
        events: eventsArray
      });

      calendar.render();
    });

  </script>
</head>
<style>
  #calendar {
    max-width: 1100px;
    margin: 0 auto;
  }
</style>

<body>

  <div id="textid">
      {{ content }}
    </div>

  <div id='calendar'></div>


</body>

</html>