---
layout: default
---

  <div id="homeid" class="col-sm-12">
	  <h1>Welcome to the Quantum Group @ UGent</h1>
	  <h3>Research in the Quantum Group @ Ugent is focused on developing the theory of entanglement and tensor networks to solve the quantum many-body problem , and on applications to condensed matter physics, quantum field theory, atomic physics and quantum computing.</h3>
	  <h3>Exploring Tensor Networks and Quantum Entanglement</h3>
  {% include carousel.html %}
  {{ content }}
  </div>
  <div id="newsid" class="col-sm-6" >
    {% include news.html %}
  </div>
  <div id="seminars" class="col-sm-6" >
    {% include seminars.html %}
  </div>
